@use 'lava';
@use 'greenLava';
@use 'blueLava';
$main: indigo;
$text: rgb(215, 250, 245);
$second: rgb(174, 1, 190);

body {
  background-color: rgb(0, 0, 0);
  overflow-x: hidden;
}
.jumbotron, .bg-text {
  font-family: 'Modak', cursive;
  // background-attachment: fixed;
}
.jumbotron {
  background-image: url('../img/abstract-wax.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 5px outset $main;
}

.bg-text {
  font-size: 15rem;
  left: 50%;
  position: absolute;
  top: 40rem;
  z-index: -5000;
  transform: translateY(-50%) translateX(-50%);
  display: ruby;
}

@media screen and (max-width: 1050px) {
  .bg-text {
    font-size: 13rem;
  }
}
@media screen and (max-width: 900px) {
  .bg-text {
    font-size: 10rem;
  }
}
@media screen and (max-width: 700px) {
  .bg-text {
    font-size: 7rem;
  }
}
@media screen and (max-width: 492px) {
  .bg-text {
    font-size: 6rem;
  }
}


.jumbotron {
  h1, p {
    color: $text;
    background: -webkit-linear-gradient($main, $second);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
  }
  h1 {
    font-size: 6rem;
  }
  button {
    color: $text !important;
    font-size: larger;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
  }
}

.navbar {
  background-color: $main;
  box-shadow: 3px 0 3px black;
}
.nav-link {
  color: $text;
}

.nav-active {
  color: adjust-color($text, $red: -80, $green: -80, $blue: 20)
}