@use 'lava';
$main: indigo;
$text: rgb(215, 250, 245);
$second: rgb(174, 1, 190);

body {
  background-color: black;
}
.jumbotron {
  font-family: 'Modak', cursive;
  // background-attachment: fixed;
  background-image: url('../img/abstract-wax.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 1px solid $main;
}

.jumbotron {
  h1, p {
    color: $text;
    background: -webkit-linear-gradient($main, $second);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
  }
  h1 {
    font-size: 6rem;
  }
}

.navbar {
  background-color: $main;
  box-shadow: 3px 0 3px black;
}
.navbar a {
  color: $text;
}